.parallax__wrapper
    .parallax#parallax
        .parallax__layer
            img(src='assets/img/parallax/layer_1.png')
        .parallax__layer
            img(src='assets/img/parallax/layer_2.png')
        .parallax__layer
            img(src='assets/img/parallax/layer_3.png')
        .parallax__layer
            img(src='assets/img/parallax/layer_4.png')
        .parallax__layer
            img(src='assets/img/parallax/layer_5.png')
        .parallax__layer
            img(src='assets/img/parallax/layer_6.png')
        .parallax__layer
            img(src='assets/img/parallax/layer_7.png')
        .parallax__layer
            img(src='assets/img/parallax/layer_8.png')
        .parallax__layer
            img(src='assets/img/parallax/layer_9.png')
        .parallax__layer
            img(src='assets/img/parallax/layer_10.png')

    include _flip.pug
    include _footerWelc.pug

