.parallax__wrapper
    .parallax#parallax
        .parallax__layer
            img(src='assets/img/parallax/Layer_1.png')
        .parallax__layer
            img(src='assets/img/parallax/Layer_2.png')
        .parallax__layer
            img(src='assets/img/parallax/Layer_3.png')
        .parallax__layer
            img(src='assets/img/parallax/Layer_4.png')
        .parallax__layer
            img(src='assets/img/parallax/Layer_5.png')
        .parallax__layer
            img(src='assets/img/parallax/Layer_6.png')
        .parallax__layer
            img(src='assets/img/parallax/Layer_7.png')
        .parallax__layer
            img(src='assets/img/parallax/Layer_8.png')
        .parallax__layer
            img(src='assets/img/parallax/Layer_9.png')
        .parallax__layer
            img(src='assets/img/parallax/Layer_10.png')

    include _flip.pug
    include _footerWelc.pug

