ul.social.main-block__item
    -var icons = ['vk', 'github', 'in']
    each icon in icons
        li.social__item
            a(href='#').social__link
                svg.social__icon
                    use(xlink:href=`assets/img/sprite/sprite.svg#${icon}`)


