.top__menu
    ul.social--about.main-block__item
        -var icons = ['vk', 'github', 'in']
        each icon in icons
            li.social__item
                a(href='#').social__link
                    svg.social__icon--about
                        use(xlink:href=`assets/img/sprite/sprite.svg#${icon}`)
    .hum__menu
        #hum__nav.open-menu
            <span></span>
            <span></span>
            <span></span>
        .open-nav
            nav.overlay-menu
                ul
                    li
                        a(href="about.html") Обо мне
                        a(href="works.html") Мои работы
                        a(href="blog.html") Блог
                        a(href="index.html") Авторизация

                .close-menu
