.slider
  width: 100%
  height: 700px
  display: flex
.slider__col
  width: 50%
  height: 700px
  &_left
    background-color: #F0EFEA
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    position: relative

  &_right
    background-color: #EFEBE0
    position: relative

  .block-title--slide
    font-size: 27px
    color: #373e42
    text-align: center
    padding: 45px 80px
    font-family: BERNIER Regular, sans-serif
    position: relative

    &:before, &:after
      content: ''
      display: block
      width: 22px
      height: 5px
      position: absolute
      background: #c9c9c6
      top: 50%
      transform: translateY(-50%)
    &:before
      left: 30px
    &:after
      right: 30px
.slide__desc
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
.desc__item
  display: inline-block
  width: 80%
  text-align: center
  padding-bottom: 80px
  .slide__skills
    padding: 25px 0
    border-bottom: 1px solid #10c1a8
    border-top: 1px solid #10c1a8
    color: #10c1a8
    font-weight: 200

.slide__link
  color: #fff
  text-decoration: none
  padding: 20px 40px
  background-color: #10c1a8
  border-radius: 6px

.work__preview
  width: 100%
  height: 70%
  position: absolute
  left: 100%
  margin: 0 auto
  padding: 2.6875rem 0 2.6875rem
  z-index: 100
  top: 0

.work__pic
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  margin: 0 auto
  max-width: 100%
  max-height: 100%
.work__slider
  height: 38%
  position: absolute
  bottom: 0
  left: 0
  right: 0
  display: flex
.toggle
  height: 100%
  position: relative
.toggle__link
  display: block
  width: 100%
  height: 100%
  position: relative
  //z-index: 10
  overflow: hidden
.toggle__link:after
  content: ''
  display: block
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1
  background-color: rgba(55, 62, 66, 0.4)
.toggle__link_prev:hover .toggle__icon
  transition: .5s
  top: 65%
.toggle__link_next:hover .toggle__icon
  transition: .5s
  top: 65%
.toggle__icon
  width: 2.6875rem
  height: 1.6875rem
  fill: #fff
  transition: .2s
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 10
.column-left
  background-color: #f0efe9
.column_right
  background-color: #efebe0
.column
  width: 50%
.work-slider__list
  height: 100%
  overflow: hidden
  position: relative
.work-slider__img
  max-width: 100%
  max-height: 100%
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  margin: auto
.work-slider__item
  position: absolute
  width: 100%
  height: 100%
//.work-slider__list_next .work-slider__item
  top: 100%
  .work-slider__list_next .work-slider__item_current
    top: 0

//.work-slider__list_prev .work-slider__item
  top: -100%
  .work-slider__list_prev .work-slider__item_current
    top: 0

.slider__list
  width: 100%
  height: 100%
  position: relative

.slider__item
  width: 100%
  height: 100%
  opacity: 0
  position: absolute
  top: 0
  left: 0
  transition: all .6s
  .slider__item_active
    opacity: 1
    position: relative