.social
  position: absolute
  bottom: 50px
  .social__item
    display: inline-block
    vertical-align: middle
    position: relative
    .social__icon
      width: 25px
      height: 35px
      fill: #00BFA5
      position: relative

