extends ../_template

block variables
    - var title = 'Home page'


block content
    .wrapper
        .blog__wrap
            section.section.blog__header
                .hero__bg
                    img(src="assets/img/bg.png").hero__bg-img
                .hero__container
                    .user
                        .user__pic-container
                            img(src="assets/img/avatar.jpg").user__pic
                        .section-title(style="background-image: url('assets/img/blog_header.svg')")
                            | Блог
                        .user__desc Статьи, которые я написал
                include ../common/_topMenu

            section.section.about
                .about__col--works.about__col_left
                    svg(viewbox="0 0 1000 110" preserveAspectRatio="none").about__triangle--works
                        polygon(points="0,0 0,110 1000,110")
                .about__col--works.about__col_right
                    svg(viewbox="0 0 1000 110" preserveAspectRatio="none").about__triangle--works
                        polygon(points="0,110 1000,110 1000,0")
            section.section.blog__main
                .blog__nav
                    ul.blog__nav_item
                        li.blog__nav_items
                            a.blog__nav_link Самое важное в SASS
                        li.blog__nav_items
                            a.blog__nav_link Приемы в верстке, без которых не обходится ни один сайт
                        li.blog__nav_items
                            a.blog__nav_link Самый необходимый набор Gulp плагинов
                        li.blog__nav_items
                            a.blog__nav_link Почему я выбрал Jade
                .blog__article
                    .article__container
                        .article__title Самое важное в SASS
                        .article__date 22 Ноября 2016 г.
                        .article__desc Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув
                    .article__container
                        .article__title Приемы в верстке, без которых не обходится ни один сайт
                        .article__date 13 Ноября 2016 г.
                        .article__desc Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув<br><br>Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением покоя, что искусство мое страдает от этого. Ни одного штриха не мог бы я сделать, а никогда не был таким большим художником, как в эти минуты. Когда от милой моей долины поднимается пар и полдневное солнце стоит над непроницаемой чащей темного леса и лишь редкий луч проскальзывает в его святая святых, а я лежу в высокой траве у быстрого ручья и, прильнув к земле, вижу тысячи всевозможных былинок и чувствую, как близок моему сердцу крошечный мирок, что снует между стебельками, наблюдаю эти неисчислимые, непостижимые разновидности червяков и мошек и чувствую близость всемогущего, создавшего нас по своему подобию, веяние вселюбящего, судившего нам парить в вечном блаженстве, когда взор мой туманится и все вокруг меня и небо надо мной запечатлены в моей душе, точно образ возлюбленной, - тогда, дорогой друг, меня часто томит мысль: "Ах! Как бы выразить, как бы вдохнуть в рисунок то, что так полно, так трепетно живет во мне, запечатлеть отражение моей души, как душа моя - отражение предвечного бога!" Друг







        include ../common/_footer