extends ../_template

block variables
    - var title = 'Home page'


block content

    header.header
        .main-block
            h2.person__title--join Авторизуйтесь
            include ../common/_joinForm
            include ../common/_joinNav

        include ../common/_footerWelc




